*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Gabarito", sans-serif;
}

.navbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap:10px;
    align-items: center;
}

.navbar__s1{
    color: #A435F0;
}

.navbar__s2{
    width:60%;
    border:solid black 1px;
    border-radius:30px;
    display: flex;
    padding:10px;
    gap:10px;
    align-items: center;

}

.navbar__s2 input{
    border:none;
    width:60%;
}

.navbar__s2 input:focus{
    outline:none;
}

.navbar__s3{
    display:flex;
    gap:30px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
    /* flex-direction: row; */
}

.categories{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 15px;
    border-bottom: solid black 1px;
    flex-wrap:wrap;    
}

.categories p{
    background-color: #A435F0;
    padding:15px;
    color:white;
    border-radius: 30px; 
    flex-wrap: wrap;
    margin-top: 10px;

}

.image-section{
    margin-top: 20px;
    display:flex;
    justify-content: center;
}

.each-block img{
    margin-top: 10px;
    width: 350px;
    height:250px;
}

.section-card__details h2{
    font-size:20px;
    width:250px;
}

.card-images{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;}

.section-card{
    margin: 30px;    
}

.topics{
    padding:10px;
}

.topics__container{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 10px;;
}

.topics__container p{
    border: solid gray 1px;
    padding:10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-basis:75%
}

.footer-one{
    display: flex;
    gap:10px;
}

.footer-one p{
    margin:20px;
}

.footer__two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
    margin-top: 30px;
}